<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to contact.com, <%= @contact.first_name %></h1>
    <p>
      your username is: <%= @contact.first_name %>.<br>
      Message: <%= @contact.message %>
    </p>
    <p>
      SomeOne from the team will reach out to you soon.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
